<!DOCTYPE HTML>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>hihihi</h1>
    <h2>hihihi</h2>
    <pre>hihihi</pre>
  </body>
</html>
