<!DOCTYPE HTML>
<html>

<head>
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <a href="board3/boardList">
        <h2>파일 업로드 게시판</h2>
    </a>
    <a href="socket/chatting">
        <h2>웹소켓 채팅</h2>
    </a>
</body>

</html>