
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}
div#chtWrap{
    margin : 90px 0px 60px 0px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    width: 100%;
    display: inline-block;
}

#messages li div.right {
    padding: 5px 10px;
    float: right;
}

#messages li div.left {
    padding: 5px 10px;
    float: left;
}

#messages li div.right > div:first-child {
    background-color: lightsalmon;
    font-weight: 300;
    border-radius: 10px;
    padding: 5px 10px;
    margin : 5px 0px;
    color: unset;
}

#messages li div.left > div:first-child {
    padding: 5px 0px;
    margin : 5px 0px;
}

#messages li div.left > div:first-child span:last-child {
    background-color: lightblue;
    font-weight: 300;
    border-radius: 10px;
    padding: 5px 10px;
    margin : 5px 0px;
    color: unset;
}

#messages li div.left > div:nth-child(2) span {
    display: block;
    text-align: left;
    font-size: 0.8em;
    padding-bottom: 3px;
}

#messages li div.left > div:last-child span {
    display: block;
    text-align: left;
    font-size: 0.7em;
}

#messages li div.right > div:last-child span {
    display: block;
    text-align: right;
    font-size: 0.7em;
}

form.cht {
    padding: 0px 10px 20px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: bisque;
}

form input {
    border: 1px solid black;
    padding: 10px;
    width: 85%;
    margin-right: 0.5%;
}

form button {
    width: 13.5%;
    background: skyblue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {

    form.cht {
        padding: 0px 5px 10px 5px;

    }

    form input {
        padding: 5px;
        width: 84%;
    }

    form button {
        font-size: 13px;
        width: 13.5%;
        padding: 5px;
    }

    #messages li div:first-child {
        font-size: 13px;
    }

    #messages li div:nth-child(2), #messages li div:last-child  {
        font-size: 10px;
    }

    div#chtWrap {
        margin: 90px 0px 40px 0px;
    }
}

@media (max-width: 400px) {

    form input {
        padding: 5px;
        width: 83%;
    }

    form button {
        font-size: 12px;
    }

}