body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
    color: #00B7FF;
}

table{
    width: fit-content;
    margin: 0 auto;
    border-collapse: collapse;
}

table th{
    padding: 10px;
}

table tr, td{
    padding: 10px;
    white-space:nowrap;
}

table caption{
    display: none;
}

div.title{
    padding: 20px;
    font-size: 30px;
    color: coral;
    text-align: center;
}

table .text-center {
    text-align: center;
}

table .text-left {
    text-align: left;
}

table input, table textarea {
    width: 100%;
    margin: 5px 0px;
    border: solid 1px gray;
}

table.table {
    width: 700px;
    margin: 0 auto;
}

table.table2{
    width: 500px;
    margin: 0 auto;
    
}

.loginTable{
    width: 600px;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: bisque;
}
.header .wrap{
    margin: 0 auto;
    width: fit-content;
    padding: 20px 10px;
}

.header .userInfoWrap{
    text-align: center;
    color:mediumseagreen;
    font-size: 0.8em;
}

.header .wrap a{
    margin: 0 auto;
    width: fit-content;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.header .wrap a:hover{
  
    color: aliceblue;
    background-color: lightblue;
}

.but_01{
    background: skyblue;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.but_02{
    width: 13.5%;
    background: skyblue;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

.btnWrap.loginWwrap{
    margin: 20px;
}

.btnWrap.loginWwrap a:hover{
    border-radius: 0px;
}

.btnWrap div{
    margin: 0 auto;
    width: fit-content;
}


.btnWrap a{
    margin: 0 auto;
    width: fit-content;
    text-decoration-line : none;
    margin-bottom: 5px;
    display: block;
    padding: 5px 10px;
}

.btnWrap a:hover{
    background: skyblue;
    color: white;
    border-radius: 15px;
}

.btnWrap div #nickName{
    padding: 7px;
    color: indigo;
    font-weight: 300;
}

.loginWrap{
    margin-top: 150px;
}

.pagingWrap{
    margin: 0 auto;
    width: fit-content;
    padding: 25px;
    
}

.pagingWrap a{
    text-decoration: none;
    padding: 5px 5px;
}

.pagingWrap a:hover{
    font-size: 1.1em;
    background: skyblue;
    color: white;
    border-radius: 25px;
    
}

.icon.new{
    border :none;
    color: beige;
    background-color: coral;
    padding: 2px 7px;
    font-size: 0.7em;
    border-radius: 25px;
    margin-left: 5px;
}

.icon.update{
    border :none;
    color: beige;
    background-color: blueviolet;
    padding: 2px 7px;
    font-size: 0.7em;
    border-radius: 25px;
    margin-left: 5px;
}




@media (max-width: 700px) {

    table.table, table.table2 {
        margin: 0 5%;
        width: 90%;
        min-width: fit-content;
    }

    div.tableWrap{
        overflow-y: auto;
        margin: 0 5%;
    }

    .btnWrap{
        font-size: 13px;
    }
    .btnWrap .but_01 {
        font-size: 13px;
        padding: 2.5px 5px;
    }
}

@media (max-width: 400px) {

    .header .wrap a {
        font-size: 14px;
        padding: 20px 5px;
    }

    .btnWrap{
        font-size: 11px;
    }
    .btnWrap .but_01 {
        font-size: 11px;
    }

    table.table{
        font-size: 12px;
        padding: 5px 10px;
    }

    table tr, td{
        padding: 8px;
    }

    div.title {
        padding: 10px 20px;
        font-size: 20px;
        color: coral;
        text-align: center;
    }

    div.tableWrap{
        overflow-y: auto;
        margin: 0 1%;
    }

    table .colNm.Type{
        display: none;;
    }

    table th {
        padding: 7px;
    }

    div.pagingWrap{
        padding: 10px;
    }

    div.pagingWrap a{
        font-size: 13px;
    }
}